:root {

    --menu-size: 250px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    margin-top: 1rem;
    background-color: #FF6666;
    padding: 10px;
    text-align: right;
}

header img {
    height: 40px;
}

#logodogoogle {
    height: 40px;

}

.content {

    max-width: 800px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 20px;

}

nav div button img {
    width: 20px;
}

#bntMenu {
    cursor: pointer;
    padding: 5px;
    transition: ease-in-out 0.75;

}

#bntMenu:hover {
    border-radius: 50%;
    cursor: pointer;
    background-color: (rgb 41, 57, 98);

}

#bntMenu:active {
    background-color: rgb(3, 4, 7);
}

#bntClose {
    padding: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

#bntClose:active {
    background-color: rgb(151, 73, 73);
}

.menu {
    position: fixed;
    top: 0;
    width: var(--menu-size);
    height: 100%;
    background-color: #FF6666;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: block;
}

.menu ul li a {
    transition: 0.3s;
    display: block;
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;

}

.menu ul li a:hover {
    background-color: rgb(0, 10, 71);
}

.effect {
    transition: margin 0.4s;
}

@media (min-width: 768px) {

    #bntClose {
        display: none;
    }
}

body #menu ul.ddmenu {
    margin-top: 10rem;
}