*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    display: flex;
}

#upperheader{
    margin-top: 6rem;
    display: flex;
    position: fixed;
    background-color: #FF6666;
    width: 100%;
    height: 6rem;
}


#upperheader .logo img{
    position: relative;
    margin: 0.5em;
    width: 10%;
}

#upperheader .container span{
    position: absolute;
    margin-left: 6.8rem;
    margin-top: 1.5rem;
    vertical-align: middle;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}

#upperheader .searchbox #caixa input#campopesquisa{
    margin-top: 1.5rem;
    margin-left: -25rem;
    border-radius: 1rem;
    position: relative;
    width: 50rem;
    height: 3rem;
    text-align: center;
}
 
#upperheader .searchbox #caixa a ion-icon{
    position: absolute;
    margin-left: 1rem;
    margin-top: 1.9rem;
    font-size: 2rem;
}

#upperheader .searchbox #caixa a ion-icon:hover{
    color: #009999;
}